<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@description@</description>
    <author>Tobi Krebs</author>
    <website>http://www.existsolutions.com</website>
    <status>@status@</status>
    <license/>
    <copyright>true</copyright>
    <type>application</type>
    <target>lgpn-ling</target>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <permissions xmlns:repo="http://exist-db.org/xquery/repo" password="" user="lgpn" group="lgpn" mode="rwxrwxrwx"/>
</meta>
