//******** Grid ********//


// Columns

.tp-column, .tp-columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;

  @media only screen and (min-width: @medium-screen-min) {
    float: left;
    min-height: 1px;
  }
}

.tp-width-main {
  .make-xs-column(12);
}

.tp-width-sidebar {
  .make-xs-column(12);
}

.tp-width-half {
  .make-xs-column(12);
  .make-md-column(6);
  .make-lg-column(6);
}

.large-4 {
  @media only screen and (min-width: @large-screen-min) {
    width: 25%;
  }
}

.large-6 {
  @media only screen and (min-width: @large-screen-min) {
    width: 50%;
  }
}

.large-8 {
  @media only screen and (min-width: @large-screen-min) {
    width: 75%;
  }
}

.medium-6 {
  @media only screen and (min-width: @medium-screen-min) {
    width: 50%;
  }
}

.small-12 {
  width: 100%;
}

.tp-column-4 {
  &:extend(.large-4);
  &:extend(.medium-6);
  &:extend(.tp-column);
}

.tp-column-6 {
  @media only screen and (min-width: @medium-screen-min) {
    width: 50%;
    float: right;
  }
}

.tp-column-fullwidth {
  &:extend(.small-12);
  &:extend(.tp-columns);
  &:extend(.tp-column);
}

// Rows

.tp-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}

.tp-row:before, .tp-row:after {
  content: " ";
  display: table;
}

.tp-row:after {
  clear: both;
}
