body {
  background: #FFF;
  font-family: "Arial Unicode MS", Helvetica, Arial, sans-serif;
  /* FIX bootstrap for betterform */
}
body input {
  font-family: "Arial Unicode MS", Helvetica, Arial, sans-serif;
}
body fieldset {
  border: 1px solid #EEE;
  padding: 0px 1.4em 1.4em;
  box-shadow: 0px 0px 0px 0px #000;
}
body .xfRepeatIndex {
  background-color: #FFF;
}
body .xfRepeatIndex .xfRepeatIndex {
  background-color: #FFF;
}
body .xfRepeatItem {
  padding-bottom: 10px;
  margin-bottom: 4px;
}
body .row {
  padding-bottom: 25px;
}
body .xfFullGroup .xfLabel {
  width: auto;
  display: table-cell !important;
}
body .xfRepeatItem .xfControl {
  display: table;
}
body .input-group-lg .widgetContainer,
body .xfRepeatItem .widgetContainer {
  width: 100%;
}
body .input-group .widgetContainer .form-control {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
body .input-group-lg > .widgetContainer > .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
body .container .xfFullGroup .xfControl {
  display: table;
}
body .xfHint {
  display: none !important;
}
body .xfTrigger .btn {
  width: 34px;
  height: 34px;
  padding: 0px;
}
body .xfTrigger .bigbtn {
  width: 64px;
  height: 32px;
  padding: 0px;
}
body .xfSubmit .btn::before {
  padding-right: 6px;
}
body .input-group .tagit {
  margin: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
body .input-group .tagit li {
  margin-top: 0px;
  margin-bottom: 0px;
}
body .xfRequired > .xfLabel::after {
  content: "" !important;
}
body .invisible {
  display: none;
}
body .dimmed {
  color: #aaa;
  font-size: 0.9em;
}
