<?xml version="1.0" encoding="UTF-8"?>
<form xmlns="http://www.w3.org/1999/xhtml" xmlns:i18n="http://exist-db.org/xquery/i18n" class="form form-horizontal i18n:translate?lang=fr&amp;catalogues=data/i18n" action="" method="GET">
    <fieldset id="segment">
        <legend>
            LGPN-Ling morpheme sub-form
        </legend>
        <div class="row">
            <div class="col-xs-4">
                <div class="input-group input-group">
                    <span class="input-group-addon">baseForm</span>
                    <input type="text" class="form-control" name="baseForm" id="baseForm" placeholder="αγαθ" data-template="templates:form-control" disabled="disabled"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"/>
                    </span>
                    <input name="meaning1" class="form-control" id="meaning1" placeholder="good" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"/>
                    </span>
                    <input name="meaning2" class="form-control" id="meaning2" placeholder="will" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-map-marker"/>
                    </span>
                    <input name="meaning3" class="form-control" id="meaning3" placeholder="" data-template="templates:form-control"/>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-2">
                <span>
                    <span class="glyphicon glyphicon-plus"/>   add meaning
                    </span>
            </div>
            <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-tag"/> label
                    </span>
                    <input name="label" class="form-control" id="label" placeholder="label" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"/> en
                    </span>
                    <input name="en" class="form-control" id="en" placeholder="English description" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"/> fr
                    </span>
                    <input name="fr" class="form-control" id="fr" placeholder="French description" data-template="templates:form-control"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2">
                <span>
                    <span class="glyphicon glyphicon-plus"/>   add meaning
                    </span>
            </div>
            <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-tag"/> label
                    </span>
                    <input name="label" class="form-control" id="label" placeholder="label" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"/> en
                    </span>
                    <input name="en" class="form-control" id="en" placeholder="English description" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"/> fr
                    </span>
                    <input name="fr" class="form-control" id="fr" placeholder="French description" data-template="templates:form-control"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2">
                <span>
                    <span class="glyphicon glyphicon-plus"/>   add meaning
                    </span>
            </div>
            <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-tag"/> label
                    </span>
                    <input name="label" class="form-control" id="label" placeholder="label" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"/> en
                    </span>
                    <input name="en" class="form-control" id="en" placeholder="English description" data-template="templates:form-control"/>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"/> fr
                    </span>
                    <input name="fr" class="form-control" id="fr" placeholder="French description" data-template="templates:form-control"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-search"/>
                        <i18n:text key="save">Save</i18n:text>
                    </button>
                    <span class="glyphicon"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-search"/>
                        <i18n:text key="cancel">Cancel</i18n:text>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
</form>